*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    background-color: #F2F5F9;
}

.contenedorOp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor{
    border: 15px;
    background-color: #FFFF;
    width: 418px;
    height: 545px;
    /* margin: auto; */
    border-radius: 15px;
    
}

.caja{
    border: 35px;
}

.caja h1{
    font-family: Poppins;
    font-size: 24px;
    color: #111729;
    padding: 25px;
    margin-top: -70px;
}

.caja p{
    padding: 25px;
    font-family: Lato;
    color: #677489;
    font-size: 16px;
    padding-top: 0;
    margin-top: -15px;
}

.heroImg{
    max-width: 100%;
}

.contenedor .svgDiv{
    position: relative;
    top: -38px;
    
}
.contenedor .profile{
    display: flex;
    border-top: 1px solid;
    border-color: #F2F5F9;
    padding-top: 15px;
}

 .contenedor .profile .imgProfile{
    /* padding: 25px;
    padding-left: 0; */
    margin-left: 25px;
    border: 5px solid ;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    border-color: #F2F5F9;

}

.contenedor .profile .imgProfile img{
    max-width: 100%;
}

.contenedor .profile .texts{
    padding-left: 15px;
}
.contenedor .profile .texts h2{
    font-family: Poppins;
    font-size: 18px;
}

.contenedor .profile .texts p{
    font-family: Lato;
    font-size: 15px;
    color: #677489;
}


